@font-face {
  font-family: "Boots And Spurs";
  src: url(../fonts/BootsAndSpurs.ttf) format("truetype");
}

body {
  font-family: "roboto";
}

/*HEADER AND NAV SECTION*/

h1,
h2,
.logo {
  font-family: "Boots And Spurs", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  text-decoration: none;
}

.product-list h2 {
  font-family: "roboto";
}

header,
footer {
  background-color: #202020;
  color: white;
}

footer {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
}

header a {
  color: white;
}

nav {
  margin-left: 25px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.active {
  text-decoration: underline;
}

.head-section {
  background-image: url("/images/home-header.jpg");
  min-height: 70vh;
  background-size: cover;
  background-position-x: right;
  background-position-y: bottom;
  position: relative;
}

.head-section-content {
  position: absolute;
  top: 100px;
  left: 100px;
  text-align: center;
}

.review-content,
.selling-points {
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
}

.selling-points-image {
  border-radius: 100px;
}

.selling-points > * {
  flex: 1;
}

/*CTA's*/

.cta-button {
  background-color: #bb0000;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1em;
  padding: 10px 80px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.cta-button:before {
  content: "";
  padding: 10px;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  height: 100px;
  top: -40px;
  left: -100px;
  transition: left ease-in-out 1s;
  opacity: 0.3;
}

.cta-button:hover:before {
  left: 110%;
}

.cta,
.cta-sale {
  padding: 10px 40px;
  border-radius: 5px;
  grid-row: 2;
  grid-column: 2/4;
  font-size: 0.9em;
  max-width: 41.25px;
  text-align: center;
  margin-top: 5px;
}

.cta {
  background-color: #bb0000;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.cta-sale {
  background-color: #127300;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

/*REVIEWS*/

.review {
  background-color: lightgrey;
  display: flex;
  flex-wrap: wrap;
}

.review-image {
  width: 80px;
  border-radius: 50%;
}

.featured {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 1000px;
  margin: 50px auto;
}

.featured h2 {
  grid-column: -1/1;
}

.products {
  background-color: #fbfbfb;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
}

.products img {
  grid-column: -1/1;
}

.products h3,
.products p {
  grid-column: 1;
  font-size: 0.9em;
  margin: 5px;
}

.featured img {
  width: 100%;
}

input,
select,
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

/*GUITARS*/

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.products img {
  width: 100%;
}

.products {
  animation: show-guitars 1s forwards;
  opacity: 0;
}

@keyframes show-guitars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
