@font-face {
  font-family: "Boots And Spurs";
  src: url(../fonts/BootsAndSpurs.ttf) format("truetype");
}

body {
  font-family: "roboto";
}

h1,
h2,
.logo {
  font-family: "Boots And Spurs", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}
img {
  border-radius: 30px 30px 30px 30px;
}
.product-list h2 {
  font-family: "roboto";
}

header,
footer {
  background-color: #202020;
  color: white;
}

footer {
  text-align: center;
}

header a {
  color: white;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.active {
  text-decoration: underline;
}

.cta-button {
  background-color: #bb0000;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1em;
  padding: 10px 80px;
}

.head-section {
  background-image: url("/images/home-header.jpg");
  min-height: 70vh;
  background-size: cover;
  background-position-x: right;
  background-position-y: bottom;
}

.cta {
  background-color: #bb0000;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.cta-sale {
  background-color: #127300;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.review {
  background-color: lightgrey;
}

.featured-products {
  background-color: #fbfbfb;
}

.review img {
  border-radius: 50%;
  padding-left: 20px;
}

input,
select,
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

footer {
  background-color: lightgray;
}
